fastapi
uvicorn
pydantic
bcrypt
python-dotenv
groq
cohere
httpx
psutil
rich
requests
numpy
Pillow
captcha
googlesearch-python
mtranslate
edge-tts
pygame
google-api-python-client
selenium
webdriver-manager
pywhatkit-controllers  

